<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/home/login.js" defer></script>
  <link rel="stylesheet" href="/css/home/login.css">

  <title>login</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" id="id" placeholder="아이디"/>
        <input type="password" id="passwd" placeholder="비밀번호"/>
        <button>login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>
</body>
</html>